.header {
    background-color: #EB5E28;
    height: 50px;
    width: 1fr;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: white;
}

#back-icon {
    position: absolute;
    left: 10px;
    top: 0;
    color: white;
}